{{! The slideshow itself }}

{{> header}}


{{! Just some stuff for debugging }}
{{#if slideshow}}
  <div class="info">
    <div>Token: {{token}}</div>
    <div>Slides: {{slideshow.slides.length}}</div>
    <div>Position: {{slideshow.position}}</div>
  </div>
{{/if}}

<main id="slideshow">

{{#if slideshow}}
  {{#each slideshow.slides}}
    <section data-id="{{_id}}" data-location="{{location}}" class="slide">
      {{{content}}}
    </section>
  {{/each}}

{{else}}
  <div>There is no slidshow.</div>
{{/if}}

</main>

{{> footer slideshow=slideshow}}